#project {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza a header e o grid */
    padding: 72px 120px 144px; /* Espaçamento vertical e horizontal da seção */

    background-color: var(--base-500);
}

#project h2 {
    font: var(--subtitle);
    color: var(--principal-red);
    margin-bottom: 8px;
}

#project p {
    font: var(--title-md);
    color: var(--base-100);
}

#project header {
    text-align: center; /* Espaço entre o título da seção e o grid de cards */
    margin-bottom: 56px;
    padding: 0;
}

.project-grid {
    display: grid;

     /* Cria 3 colunas de largura igual para replicar o design do Figma. */
    grid-template-columns: 1fr 1fr 1fr;

    gap: 24px; /* Espaçamento entre os cards */  
    max-width: 1040px;
    margin: 0 auto;  
}

.project-card {
    text-decoration: none;
    background-color: var(--base-400); /* Cor de fundo do card*/
    
    border: 1.5px solid transparent;
    border-radius: 12px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.project-card:hover {
    border: 1.5px solid var(--base-300);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
    0 1px 3px rgba(0, 0, 0, 0.08);

}

.project-card img {
    width: 100%;
    display: block;
    border-radius: 8px;  
}

.thumbnail-container {
    background-color: var(--base-400); /* Cor de fundo que você quer dentro do padding */
    padding: 12px 12px 20px 12px; /* Espaçamento interno (topo, lados, fundo) */
    overflow: hidden; /* Garante que a imagem seja cortada com o border-radius */
    border-radius: 8px 8px 0 0;
}

#project .card-content {
    padding: 0 16px;
    text-align: left;
}

#project .card-content h3 {
    font: var(--title-sm);
    color: var(--base-100);
    margin-bottom: 8px;
}

#project .card-content p {
    font: var(--text-sm);
    color: var(--base-200);
    margin-bottom: 21px;
}

